@using WooxTravel.Entities
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Destination>
<div class="visit-country bg-white pt-5">
    <div class="container ">
        <div class="row">
            <div class="col-lg-5">
                <div class="section-heading">
                    <h2>Popüler Tur ve Seyehat Rotalarımız</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="items">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            var aciklama = item.Description;
                            string aciklamaYazdir = aciklama.Length > 200 ? aciklama.Substring(0, 200) : aciklama;
                            <div class="col-lg-12">
                                <div class="item">
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-5">
                                            <div class="image">
                                                <img src="@item.ImgUrl" alt="">
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-sm-7">
                                            <div class="right-content">
                                                <h4>@item.Country</h4>
                                                <span>@item.City</span>
                                                <div class="main-button">
                                                    <a href="/Default/DestinationDetail/@item.DestinationId">Detay</a>
                                                </div>
                                                <p>
                                                    @aciklamaYazdir
                                                </p>
                                                <ul class="info">
                                                    <li><i class="fa fa-calendar"></i> @item.DayNight Gün - @(item.DayNight -1 ) Gece</li>
                                                    <li><i class="fa fa-money-bill"></i> @item.Price ₺</li>
                                                    <li><i class="fa fa-bar-chart"></i> @item.Capacity Kişi</li>
                                                </ul>
                                                <div class="text-button">
                                                    <a href="about.html">Rehberi görün <i class="fa fa-person fa-xl"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="col-lg-12  ">
                            <ul class="page-numbers">
                                @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
                           {
                               LiElementClasses = new List<string> { "mb-3" },
                               MaximumPageNumbersToDisplay = 3,
                               DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                               DisplayLinkToLastPage = PagedListDisplayMode.Never
                           })  
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>