
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html lang="en">
@Html.Partial("~/Areas/Admin/Views/AdminLayout/PartialHead.cshtml")
<body>
    <div class="wrapper">
        <!-- Sidebar -->
        @Html.Partial("~/Areas/Admin/Views/AdminLayout/PartialSidebar.cshtml")
        <!-- End Sidebar -->
        @Html.Partial("~/Areas/Admin/Views/AdminLayout/PartialNavbar.cshtml")
        @RenderBody()
        @Html.Partial("~/Areas/Admin/Views/AdminLayout/PartialFooter.cshtml")
    </div>
    <!-- Custom template | don't include it in your project! -->
    @Html.Partial("~/Areas/Admin/Views/AdminLayout/PartialThemeSettings.cshtml")
    <!-- End Custom template -->
    @*</div>*@
    <!--   Core JS Files   -->
    @Html.Partial("~/Areas/Admin/Views/AdminLayout/PartialScripts.cshtml")
</body>
</html>